{include="header"}

<div class='well well-sm'>
   <h1>Acceso denegado</h1>
   <table width='100%'>
      <tr>
         <td valign='top'>
            <ul>
               <li>No tienes permiso para acceder a esta página.</li>
               <li>Consulta con el administrador <u>para que te dé acceso</u> a esta página. :D</li>
               
            </ul>
         </td>
         <td class="text-right" valign='top'>
            <img src='view/img/big_lock.png' alt="Acceso denegado"/>
         </td>
      </tr>
   </table>
</div>

{include="footer"}